<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-bg">
                <h5 class="font-title modal-title" id="modalLable"></h5>
                <button type="button" class="btn-close color-white-bg" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input hidden id="idArea" />
                <div class="mb-1">
                    <label style="font-size:14px">Mã hóa đơn <span style="color:red">(*)</span></label>
                    <input type="text" class="font-controls form-control" id="mahd">
                </div>
                <div class="mb-1">
                    <label style="font-size:14px">Nhân viên <span style="color:red">(*)</span></label>
                    <select class="font-controls form-select input-height" style="padding:0px 0px 0px 6px " id="manv">
                    </select>
                </div>
                <div class="mb-1">
                    <label style="font-size:14px">Khách hàng <span style="color:red">(*)</span></label>
                    <select class="font-controls form-select input-height" style="padding:0px 0px 0px 6px " id="makh">
                    </select>
                </div>
                <div class="mb-1">
                    <label style="font-size:14px">Ngày hóa đơn <span style="color:red">(*)</span></label>
                    <input type="date" class="font-controls form-control" id="ngayxuat">
                </div>
                <div class="mb-1">
                    <div class="row">
                        <div class="col">
                            <label style="font-size:14px">Chọn sản phẩm</label>
                            <select class="font-controls form-select input-height" style="padding:0px 0px 0px 6px " id="masach">
                            </select>
                        </div>
                        <div class="col">
                            <label style="font-size:14px">Nhập số lượng <span style="color:red">(*)</span></label>
                            <input type="number" value="1" class="form-control" style="height:25px" id="soluong">
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <button type="button" class="btn btn-primary btn-sm" id="btnAddSP">Thêm</button>
                </div>
                <table class="table" style="border:solid 1px;font-size:13px;margin-top:4px">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="border:solid 1px;font-size:13px">Mã hóa đơn</th>
                            <th scope="col" style="border:solid 1px;font-size:13px">Mã sách</th>
                            <th scope="col" style="border:solid 1px;font-size:13px">Tên sách</th>
                            <th scope="col" style="border:solid 1px;font-size:13px">Số lượng</th>
                            <th scope="col" style="border:solid 1px;font-size:13px">Đơn giá</th>
                            <th scope="col" style="border:solid 1px;font-size:13px">Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="tableCHITIETHOADONS">
                       
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm btn-width" id="btnSubmit">Nhận</button>
                <button type="submit" class="btn btn-danger btn-sm btn-width" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<div style="padding:4px 0px 4px 4px;float:right;">
    <a asp-controller="KhachHang" asp-action="Create" id="btnAdd" class="btn btn-primary" style="font-size:14px" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Thêm mới
    </a>
</div>
<table class="table" style="border:solid 1px;font-size:13px">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="border:solid 1px;font-size:13px" >Mã hóa đơn</th>
            <th scope="col" style="border:solid 1px;font-size:13px" >Nhân viên</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Khách hàng</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Ngày lập phiếu</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Tình trạng</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Tổng tiền</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Sửa</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Xóa</th>
            <th scope="col" style="border:solid 1px;font-size:13px">Tính tiền</th>
        </tr>
    </thead>
    <tbody id="tableHOADONS">
    </tbody>
</table>
@section Scripts{
    <script>
        var issave = 1
        var tinhtrang = '';
        var mahd =''
        $(document).ready(function () {
            LoadDanhSachHoaDon();
            LoadDanhSachChiTietHoaDon('');
            LoadDanhSachNhanVien();
            LoadDanhSachKhachHang();
            LoadDanhSachSanPham();
        });
        //Hiển thị danh sách hóa đơn
        function LoadDanhSachHoaDon() {
            $.ajax({
                type: "get",
                url: "/BanHang/ListHOADONS",
                traditional: true,
                success: function (data) {
                    if (data.code == 200) {
                        $("#tableHOADONS").empty();
                        $.each(data.listHOADONS, function (index, value) {
                            let tr = '<tr mahd="' + value.mahd + '" tinhtrang="' + value.tinhtrang + '">'
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.mahd + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.tennv + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.tenkh + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.ngayxuat + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.tinhtrang + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.tongtien + '</td>';
                            tr += '<td style="border:solid 1px;font-size:13px;text-align: center">'
                            tr += '<a href="" name="update" data-bs-toggle="modal" data-bs-target="#staticBackdrop">'
                            tr += '<i class="fas fa-edit" style="color:blue;font-size:18px"></i>'
                            tr += '</a>'
                            tr += '</td>';
                            tr += '<td style="border:solid 1px;font-size:13px;text-align: center" >'
                            tr += '<a href="" name="delete">'
                            tr += '<i class="fas fa-trash" style="color:red;font-size:18px"></i>'
                            tr += '</a>'
                            tr += '</td>';
                            tr += '<td style="border:solid 1px;font-size:13px;text-align: center">'
                            tr += '<a href="" name="tinhtien">'
                            tr += '<i class="fas fa-calculator" style="color:green;font-size:18px;"></i>'
                            tr += '</a>'
                            tr += '</td>';
                            tr += '</tr>';
                            $("#tableHOADONS").append(tr);
                        });

                    }
                }
            });
        };
        //Hiển thị danh sách chi tiết hóa đơn
        function LoadDanhSachChiTietHoaDon(mahd) {
            $.ajax({
                type: "get",
                url: "/BanHang/ListCHITIETHOADONS",
                traditional: true,
                data:{
                    mahd : $('#mahd').val().trim()
                },
                success: function (data) {
                    if (data.code == 200) {
                        $("#tableCHITIETHOADONS").empty();
                        $.each(data.listCHITIETHOADONS, function (index, value) {
                            let tr = '<tr macthd="' + value.mahd + '" mactsach = "' + value.masach + '">'
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.mahd + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.masach + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.tensach + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.soluong + '</td>';
                            tr += '<td class="tdstyle" style="border:solid 1px;font-size:13px">' + value.dongia + '</td>';
                            tr += '<td class="table-column-anchor-center tdstyle" style="border:solid 1px;font-size:13px">'
                            tr += '<a href="" name="update" data-bs-toggle="modal" data-bs-target="#staticBackdrop">'
                            tr += '<i class="fas fa-edit" style="color:blue;font-size:18px"></i>'
                            tr += '</a>'
                            tr += '</td>';
                            tr += '<td class="table-column-anchor-center tdstyle" style="border:solid 1px;font-size:13px">'
                            tr += '<a href="" name="deletectsp">'
                            tr += '<i class="fas fa-trash" style="color:red;font-size:18px"></i>'
                            tr += '</a>'
                            tr += '</td>';
                            tr += '</tr>';
                            $("#tableCHITIETHOADONS").append(tr);
                        });

                    }
                }
            });
        };
        //Thêm mới hóa đơn
        $('#btnAdd').click(function () {
            tinhtrang = ''
            $('#modalLable').text("Thêm mới hóa đơn");
            $('#mahd').focus();
            $('#mahd').val('');
            GenIdNumber();
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear() + "-" + (month) + "-" + (day);
            $('#ngayxuat').val(today);
            issave = 1
            document.getElementById("btnSubmit").disabled = false;
            document.getElementById("btnAddSP").disabled = false;
            $("#tableCHITIETHOADONS").empty();
        })
        //Sửa hóa đơn
        $(document).on('click', "a[name='update']", function (e) {
            issave = 2
            tinhtrang = $(this).closest('tr').attr('tinhtrang')
            e.preventDefault();
            $('#modalLable').text("Sửa thông tin hóa đơn");
            let value = $(this).closest('tr').attr('mahd')
            if(tinhtrang=='Đã thanh toán')
            {
                document.getElementById("btnSubmit").disabled = true;
                document.getElementById("btnAddSP").disabled = true;

            }
            $.ajax({
                url: "/BanHang/UpdateHOADONS",
                type: "get",
                data: {
                    mahd: value
                },
                success: function (data) {
                    if (data.code == 200) {
                        $('#mahd').val(value);
                        $('#manv').val(data.r.manv);
                        $('#makh').val(data.r.makh);
                        var date = data.r.ngayxuat;
                        var arrdate = date.split("-");
                        var day = arrdate[2].substring(0, 2);
                        var month = arrdate[1];
                        var year = arrdate[0];
                        var ngayxuat = year + "-" + (month) + "-" + (day);
                        $('#ngayxuat').val(ngayxuat);
                        LoadDanhSachChiTietHoaDon(value)
                    }
                }
            })
        })
        //Xóa item sản phẩm
        $(document).on('click', "a[name='deletectsp']", function (e) {
            e.preventDefault();
            let macthd = $(this).closest('tr').attr('macthd')
            let mactsach = $(this).closest('tr').attr('mactsach')
            if(tinhtrang=="Đã thanh toán")
            {
                alert("Phiếu đã thanh toán, không xóa được")
            }
            $.ajax({
                url: "/BanHang/DeleteItemCTHD",
                type: "get",
                data: {
                    macthd: macthd,
                    mactsach: mactsach
                },
                success: function (data) {
                    if (data.code == 200) {
                        LoadDanhSachChiTietHoaDon(macthd)
                    }
                }
            })
        })
        //Xóa hóa đơn
        $(document).on('click', "a[name='delete']", function (e) {
            e.preventDefault();
            let mahd = $(this).closest('tr').attr('mahd')
            let tinhtrang = $(this).closest('tr').attr('tinhtrang')
            if(tinhtrang == 'Đã thanh toán')
            {
                alert("Hóa đơn đã thanh toán, không được xóa.")
                return
            }
            if (confirm('Có chắc chắn xóa?')) {
                $.ajax({
                    url: "/BanHang/DeleteHOADONS",
                    type: "post",
                    data: {
                        mahd: mahd
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert('Xóa thành công')
                            LoadDanhSachHoaDon()
                        }
                    }
                })
            }
        })
        //Tính tiền
        $(document).on('click', "a[name='tinhtien']", function (e) {
            e.preventDefault();
            let mahd = $(this).closest('tr').attr('mahd')
            let tinhtrang = $(this).closest('tr').attr('tinhtrang')
            if (tinhtrang == 'Đã thanh toán') {
                alert("Hóa đơn đã thanh toán.")
                return
            }
            if (confirm('Có chắc chắn thanh toán?')) {
                $.ajax({
                    url: "/BanHang/TinhTienHOADONS",
                    type: "post",
                    data: {
                        mahd: mahd
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert('Thanh toán thành công')
                            LoadDanhSachHoaDon()
                        }
                    }
                })
            }
        })
        //Thêm mới sản phẩm cho chi tiết hóa đơn
        $('#btnAddSP').click(function () {
            let mahd = $('#mahd').val().trim()
            let e = document.getElementById("masach");
            let masach = e.value
            let codeRoom = e.value;
            let soluong = $('#soluong').val()
            $.ajax({
                url: "/BanHang/AddCHITIETHOADONS",
                type: "post",
                data: {
                    mahd: mahd,
                    masach: masach,
                    soluong: soluong,
                },
                success: function (data) {
                    if (data.code == 200) {
                        LoadDanhSachChiTietHoaDon(mahd)
                    }
                }
            })
        })
        //Lưu hóa đơn
        $('#btnSubmit').click(function () {
            let mahd = $('#mahd').val().trim()
            let e = document.getElementById("manv");
            let manv = e.value
            let e2 = document.getElementById("makh");
            let makh = e2.value
            let ngayxuat = $('#ngayxuat').val().trim()

            if (mahd == 0) {
                alert('Mã hóa đơn không được trống.')
                $('#mahd').focus();
                return
            }
            if (manv == 0) {
                alert('Mã nhân viên không được trống.')
                $('#manv').focus();
                return
            }
            if (makh == 0) {
                alert('Mã khách hàng không được trống.')
                $('#makh').focus();
                return
            }
            if (ngayxuat == 0) {
                alert('Ngày xuất không được trống.')
                $('#ngayxuat').focus();
                return
            }
            if (issave = 1) {
                $.ajax({
                    url: "/BanHang/AddHOADONS",
                    type: "post",
                    traditional: true,
                    data: {
                        mahd: mahd,
                        manv: manv,
                        makh: makh,
                        ngayxuat: ngayxuat
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            LoadDanhSachHoaDon()
                            $(".modal").modal('hide');
                            $('.modal-backdrop').remove();
                        }
                    }
                })
            }
            
            if (issave = 2) {
                $.ajax({
                    url: "/BanHang/UpdateHOADONS",
                    type: "post",
                    traditional: true,
                    data: {
                        mahd: mahd,
                        manv: manv,
                        makh: makh,
                        ngayxuat: ngayxuat
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            
                            LoadDanhSachHoaDon()
                            $(".modal").modal('hide');
                            $('.modal-backdrop').remove();
                        }
                        else {
                            alert(data.msg)
                            return
                        }
                    }
                })
            }
        })
        //Tạo tự động mã phiếu thuê khi thêm mới
        function GenIdNumber() {
            $.ajax({
                type: "get",
                url: "/BanHang/GenIdNumber",
                traditional: true,
                success: function (data) {
                    if (data.code == 200) {
                        $('#mahd').val(data.sBarcode);
                    }
                }
            });
        };
        //Danh sách nhân viên
        function LoadDanhSachNhanVien() {
            $.ajax({
                type: "get",
                url: "/BanHang/LoadDanhSachNhanVien",
                traditional: true,
                success: function (data) {
                    if (data.code == 200) {
                        $("#manv").empty();
                        $.each(data.danhSachNhanVien, function (index, value) {
                            let str = '<option value="' + value.manv + '">' + value.tennv + '</option>'
                            $("#manv").append(str);
                        });
                    }
                }
            });
        };
        //Danh sách khách hàng
        function LoadDanhSachKhachHang() {
            $.ajax({
                type: "get",
                url: "/BanHang/LoadDanhSachKhachHang",
                traditional: true,
                success: function (data) {
                    if (data.code == 200) {
                        $("#makh").empty();
                        $.each(data.danhSachKhachHang, function (index, value) {
                            let str = '<option value="' + value.makh + '">' + value.tenkh + '</option>'
                            $("#makh").append(str);
                        });
                    }
                }
            });
        };
        function LoadDanhSachSanPham() {
            $.ajax({
                type: "get",
                url: "/BanHang/LoadDanhSachSanPham",
                traditional: true,
                success: function (data) {
                    if (data.code == 200) {
                        $("#masach").empty();
                        $.each(data.danhSachSanPham, function (index, value) {
                            let str = '<option value="' + value.masach + '">' + value.tensach + '</option>'
                            $("#masach").append(str);
                        });
                    }
                }
            });
        };
    </script>
}
